site_name: Keyper
site_description: Keyper by Jarrid is a suite of crypto key management APIs that simplify key creation, management, deployment, and encryption/decryption. It supports file-based operations for easy automation and tracking via GitOps. Fully integrated with cloud KMS services like AWS KMS and GCP KMS, Keyper reduces infrastructure maintenance.
site_url: https://jarrid.xyz/keyper
repo_url: https://github.com/jarrid-xyz/keyper

theme:
  extra:
    version: v0.0.1
  font:
    text: Ubuntu
  name: material
  logo: assets/images/favicon.ico
  favicon: assets/images/favicon.ico
  icon:
    repo: fontawesome/brands/github
  feature:
    tabs: true
  features:
    - navigation.tabs
    - navigation.footer

  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: #80FFDB
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
        # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: dark
      primary: #7400B8
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

nav:
  - Keyper:
      - index.md
      - development.md
      - API Docs: kdoc/index.html" target="_blank
      - Release: https://github.com/jarrid-xyz/keyper/releases" target="_blank
      - integration.md
      - About Jarrid: https://jarrid.xyz" target="_blank
  - Getting Started: getting-started/index.md
  - Resource: 
      - resource/index.md
      - resource/key.md
      - resource/role.md
  - Deploy:
      - deploy/index.md
      - deploy/configuration.md
      - deploy/cli.md
      - deploy/gcp.md
  - Data:
      - data/index.md
      - data/secure-data-flow.md
      - data/terminology.md
  - Jarrid: https://jarrid.xyz" target="_blank

markdown_extensions:
  - attr_list
  - toc:
      permalink: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji 
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra:
  generator: false
  analytics:
    provider: google
    property: G-2VNWJJB7P7
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/jarrid-xyz
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/jarrid.xyz
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/apiobuild/
    - icon: fontawesome/solid/envelope
      link: mailto:luluc@jarrid.xyz

extra_css:
  - stylesheets/extra.css

plugins:
  - social:
      cards_layout_options:
        font_family: Ubuntu
        background_color: "#80FFDB"
        color: black
  - macros